*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  width: 100%;
  background-color: rgb(237, 235, 235);
  overflow-x: hidden;
}

#root{
  width: 100%
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
}